.header_container{

}
.logo {
    width: 110px;

}
.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_list{
    display: flex;

}
.nav_list li{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    font-weight: 500;
    font-size: var(--fz-500);
    transition: var(--transition);

}
.nav_list li:hover {
    color: var(--color-neutral-blue);

}

.nav_toggle {
    display: none;
}

.icon_hamgurger {
    display: none;
    width: 20px;
}
.main_header {
    margin-top: 3rem;
    /* background-image: url("../../assets/bg-tablet-pattern.svg");
    background-repeat: no-repeat; 
    background-position: 2%; */
}
.header_text {
    margin-right: 3.5rem;
    margin-top: 2.8rem;
}

.header_title {
    font-size: 3.5rem;  
}

.header_text p {
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 2.2rem;
    max-width: 33ch;
    color: var(--color-neutral-blue);
}
.intro-img {
    margin-left: 1.5rem;
}

@media (max-width: 50em) {
    .nav_container ul{
        display: none;
    }
    .navBtn{
        display: none;
    }
   
    .nav_toggle{
        display: block;
        cursor: pointer;
        background: transparent;
        padding: 0.5em;
    }
    .icon_hamgurger{
        display: block;
    }
    #menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-neutral-light);
        inset: 7rem 1rem auto;
        max-width: 25rem;
        margin-inline: auto;
        border-radius: 0.3rem;
        padding: 1.2rem 0;
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05), 0 0 0 1000vmax rgb(0, 0, 0, 0.15);
    }
    /* #menu ul::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(74, 46, 46, 0.8));
    } */
    #menu ul li {
        font-weight: 600;
        padding: 0.9rem;
    }
}